n8n-workflows/stage-1-basic.json
{
  "name": "emails from pavel.systems",
  "nodes": [
    {
      "parameters": {
        "sendTo": "ugamochi.pavel@gmail.com",
        "subject": "=\ud83d\udd25 New Lead: {{ $json.name }}",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px;\">   <h2 style=\"color: #a17ff7; background: #0b0b0b; padding: 20px; margin: 0;\">     \ud83d\udd25 New Lead from pavel.systems   </h2>    <div style=\"background: #f5f5f5; padding: 20px; border-left: 4px solid #a17ff7;\">     <p style=\"margin: 0 0 10px 0;\"><strong>Name:</strong> {{ $json.name }}</p>     <p style=\"margin: 0 0 10px 0;\"><strong>Email:</strong> <a href=\"mailto:{{ $json.email }}\">{{ $json.email }}</a></p>     <p style=\"margin: 0 0 10px 0;\"><strong>Company:</strong> {{ $json.company || 'Not provided' }}</p>     <p style=\"margin: 0 0 10px 0;\"><strong>Message:</strong></p>     <p style=\"background: white; padding: 15px; border-radius: 4px; white-space: pre-wrap;\">{{ $json.message || 'No message provided' }}</p>   </div>    <div style=\"background: #e8e8e8; padding: 15px; margin-top: 20px;\">     <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #666;\">       <strong>Timestamp:</strong> {{ $json.timestamp }}     </p>     <p style=\"margin: 0 0 5px 0; font-size: 12px; color: #666;\">       <strong>Source:</strong> {{ $json.source }}     </p>   </div>    <div style=\"margin-top: 20px; padding: 15px; background: #a17ff7; text-align: center;\">     <a href=\"mailto:{{ $json.email }}\" style=\"color: #0b0b0b; text-decoration: none; font-weight: 600;\">       \ud83d\udce7 Reply to this lead     </a>   </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "47fbd560-366f-425f-a0f5-1adefb0dbb80",
      "name": "send message to me",
      "webhookId": "d60986a0-cd21-4d39-ac25-7b042471fd32",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOpcmeYJlOi6ET3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('create fields').item.json.email }}",
        "subject": "=Thanks for reaching out, {{ $('create fields').item.json.name }}!",
        "message": "=<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; max-width: 600px; margin: 0 auto;\">   <div style=\"background: #0b0b0b; padding: 30px; text-align: center;\">     <h1 style=\"color: #a17ff7; font-family: 'JetBrains Mono', monospace; font-size: 18px; margin: 0;\">       pavel<span style=\"color: #a17ff7;\">.</span>systems     </h1>   </div>    <div style=\"padding: 30px; background: #f9f9f9;\">     <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       Hi <strong>{{ $('create fields').item.json.name }}</strong>,     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       Thanks for getting in touch! I received your message{{ $('create fields').item.json.company ? ' about automation for <strong>' + $('create fields').item.json.company + '</strong>' : '' }}.     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       I'll review your situation and reach out within <strong>24 hours</strong> with some initial thoughts and next steps.     </p>      <p style=\"font-size: 16px; line-height: 1.6; color: #333;\">       In the meantime, feel free to check out case studies and resources on       <a href=\"https://pavel.systems\" style=\"color: #a17ff7; text-decoration: none; font-weight: 600;\">pavel.systems</a>.     </p>      <div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #ddd;\">       <p style=\"font-size: 14px; line-height: 1.6; color: #666; margin: 0;\">         Talk soon,<br>         <strong>Pavel Ugamoti</strong><br>         Agentic Architect<br>         <a href=\"https://pavel.systems\" style=\"color: #666; text-decoration: none;\">pavel.systems</a>       </p>     </div>   </div>    <div style=\"background: #e8e8e8; padding: 15px; text-align: center;\">     <p style=\"font-size: 12px; color: #999; margin: 0;\">       This is an automated confirmation. I'll personally respond to your inquiry soon.     </p>   </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "048500b8-8190-486c-9f88-2a897150d3c9",
      "name": "send message to client",
      "webhookId": "fe1611db-a4d4-4f32-9e7d-0081cfc2e083",
      "credentials": {
        "gmailOAuth2": {
          "id": "0sOpcmeYJlOi6ET3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"name\": \"{{ $json.body && $json.body.name ? $json.body.name : ($json.name || '') }}\", \"email\": \"{{ $json.body && $json.body.email ? $json.body.email : ($json.email || '') }}\", \"company\": \"{{ $json.body && $json.body.company ? $json.body.company : ($json.company || '') }}\", \"message\": \"{{ $json.body && $json.body.message ? $json.body.message : ($json.message || '') }}\", \"timestamp\": \"{{ $json.body && $json.body.timestamp ? $json.body.timestamp : ($json.timestamp || '') }}\", \"source\": \"{{ $json.body && $json.body.source ? $json.body.source : ($json.source || '') }}\", \"userAgent\": \"{{ $json.body && $json.body.userAgent ? $json.body.userAgent : ($json.userAgent || '') }}\", \"referrer\": \"{{ $json.body && $json.body.referrer ? $json.body.referrer : ($json.referrer || '') }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "102ad8cf-f9b2-4e48-8ed7-cf36b8bd6060",
      "name": "create fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-form",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseData": "{\"success\": true, \"message\": \"Thanks! We'll be in touch soon.\"}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "37eb0fe1-4603-420f-9a47-723cdcfff08d",
      "name": "form submission from pave systems",
      "webhookId": "d392bf2e-2263-4502-84c8-3d77a4d7044c"
    }
  ],
  "connections": {
    "send message to me": {
      "main": [
        [
          {
            "node": "send message to client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create fields": {
      "main": [
        [
          {
            "node": "send message to me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form submission from pave systems": {
      "main": [
        [
          {
            "node": "create fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "active": true
}
